<%- include("partials/header.ejs") %>

  <div class="container my-5 mw-md-custom-forty" >
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img src="/images/Stack-Scribbles.jpg" class="mb-5" height="200px">
      <h1 class="text-body-emphasis mb-4">About Stack Scribbles</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Stack Scribbles is a development-themed blog web application using Node.js, Express.js, and EJS, featuring CRUD operations for user generated posts and a responsive Bootstrap frontend. 
      </p>
    </div>
  </div>

<%- include("partials/footer.ejs") %>