html, body {
    height: 100%;
}

.hotpink{
    color: hotpink;
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #222;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
      helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    color: hotpink;
}
  
main {
    flex: 1 0 auto; /* Pushes footer down by growing to fill space */
}
  
.footer {
    flex-shrink: 0; /* Prevents footer from shrinking */
    background-color: #222;
}

@media (min-width: 768px) {
    .mw-md-custom-forty {
      max-width: 40%;
    }
  }
  @media (min-width: 768px) {
    .mw-md-custom-thirty {
      max-width: 30%;
    }
  }